/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/data/*/cards/*/images/*
/data/*/cards/*/beta_images/*
/data/*/cards/*/beta_images_bak/*
/data/*/cards/*/tokens/*
/data/*/game_assets
.DS_Store
